$color-primary: #98c1d9;
$color-light: #e0fbfc;
$color-dark: #3d5a80;

$color-grey-1: #adb5bd;
$color-grey-2: #ced4da;
$color-grey-3: #dee2e6;
$color-grey-4: #e9ecef;

$color-grey-dark-1: #343a40;
$color-grey-dark-2: #495057;
$color-grey-dark-3: #6c757d;

$color-splash: #ee6c4d;

$color-primary-active: #9fcae3;
