#root {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  /* height of your footer */
}

.App {
  text-align: center;
  height: 100%;
}
html,
body {
  height: 100%;
  position: relative;
}

h1 {
  font-family: "Lato", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
}
