.signup-ctn {
  padding: 50px;
  width: 50%;
  margin: 10% auto 0 auto;
  background-color: #e9ecef;
}

.un-pw-ctn {
  width: 90%;
  display: flex;
  margin: 0 auto;
  flex-flow: column nowrap;
}

.user-info-ctn {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
}
