.feed-ctn {
}
.post-ctn {
  width: 70% !important;
  margin: 30px auto;
  display: flex;
  flex-flow: row nowrap;
}
.post-content {
}
.post-img {
  height: 50px;
  width: 50px;
  border-radius: 4px;
}
