.footer-ctn {
  background-color: #e9ecef;
  color: rgb(0, 0, 0);
  position: absolute;
  bottom: 0;
  width: 100%;
}
.list-unstyled {
  color: rgb(0, 0, 0);
}
.inner-ctn {
  width: 100%;
  display: flex;
}
.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 85%;
}
.col-div {
  height: 80%;
  margin-top: 1.5%;
  padding-top: 15px;
  width: 55%;
  border-right: 1px solid rgb(0, 0, 0);
}
.col-title {
  margin-top: 5%;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

.foot-li {
  text-decoration: none;
  list-style: none;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  outline: none;
  color: rgb(0, 0, 0);
}
.icon-ctn {
  margin: 1% auto 0 auto;
  width: 8%;
}
.social-icon {
  width: 25px;
  height: 25px;
  margin: 5px;
  padding: 5px;
}

/* Header */
.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 25px;
  font-family: "Lato", sans-serif;
}
.home-link {
  text-decoration: none;
  color: black;
}
.home-link:hover {
  text-decoration: none;
  color: black;
}
.profile-pic-header {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 4%;
}
.toggle-drop {
  outline: 0;
}
.toggle-drop:hover {
  background-color: lightblue;
}
